<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCm6vZVxE_WI3l1trZIG9WiJDtBmjNWylY</string>
	<key>GCM_SENDER_ID</key>
	<string>960080017218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-teste-40346</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-teste-40346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960080017218:ios:968dfe79a4e7de3651fadb</string>
</dict>
</plist>